<!DOCTYPE html>
<html>
<head>
    <title>Sign In - Talent Acquisition Hub</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./interviews.html">Interviews</a></li>
                <li><a href="./profile.html">Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li><a href="feedback.html">Feedback</a></li>
                <li><a href="admin.html">Admin</a></li>
                <li><a href="./signin.html" class="active">Login</a></li>
            </ul>
        </nav>
    </header>
    <section class="form-section">
        <h1 class="homepage-heading">Talent Acquisition Hub</h1>   
        <form>
            <input type="text" placeholder="Username/Email" required>
            <input type="password" placeholder="Password" required>
            <button type="submit" class="cyan-button">Sign In</button>
        </form>
        <p class="white-link">Don't have an account? <a href="signup.html" class="white-link">Sign up here</a></p>
    </section>
</body>
</html>
